# Utilities
pandas
matplotlib
python-dotenv
pyyaml

# Core Environment & Graphics
gymnasium
pygame
numpy

# Reinforcement Learning & Torch
torch
stable-baselines3
tensorboard

# LLM Integration
# openai